@using Parkme.Core.Models;
@model Parkme.Models.PSearchViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="~/Scripts/dist/typeahead.js"></script>
<script src="~/Scripts/dist/typeahead-addresspicker.min.js"></script>

<script>
    
</script>
<script src="~/Scripts/app/app.js"></script>
<div class="container">
    <div class="row-fluid">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <a href="#" class="btn btn-primary btn-lg" role="button" id="currentLocation" title="Click to use your current location"><img src="~/assets/Maps-and-Geolocation-Define-location-icon.png" height="25px" /></a>
                <input type="text" class="input-lg search-query" placeholder="I am driving to ..." id="address" name="location" value="@Model.SearchTerm">
                <button type="submit" class="btn-lg">Search</button>
                if(Model.IsDefault)
                { 
                    <button type="submit" class="btn-lg">Map view</button>
                }
            }
            
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
@if (Model.IsDefault)
{
@*<script src="~/Scripts/app/maps.js"></script>
<div class="container">
    <div class="row-fluid">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 search-resutls">
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>*@
<div class="container">
    <div class="row-fluid">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 search-resutls">
            <ul>
                @foreach(ParkingSearchItem item in Model.Parkings)
                { 
                <li>
                    <h3>@item.Name</h3>
                    <p>
                        Distance from the location : <span class="distance">@item.distance</span>
                        <br />Operational hours : <span class="operationalday">@item.Parking.OperationalDay</span>
                        <span class="operationaltime">@item.Parking.OperationsTime</span>
                        Hourly Rate : <span class="fare">$@item.Parking.RateWeekDay <span class="freenow">Free Now</span></span>
                        <br />Number of Bays : <span class="vehiclebays">@item.Parking.VehicleBay</span>
                        <br />Category : <span class="category">@item.Parking.Category</span>
                        Restrictions : <span class="restrictions">@item.Parking.Restrictions</span>
                        
                    </p>
                    <hr />
                </li>
                }
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
}

