@using Parkme.Core.Models;
@model Parkme.Models.PSearchViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="~/Scripts/dist/typeahead.js"></script>
<script src="~/Scripts/dist/typeahead-addresspicker.min.js"></script>
<script>
    
</script>
<script src="~/Scripts/app/app.js"></script>
<div class="container">
    <div class="row-fluid">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <a href="#" class="btn btn-primary btn-lg active" role="button" id="currentLocation">User current location</a>
            @using( Html.BeginForm("Index", "Home", FormMethod.Post)) {
                <input type="text" class="input-lg search-query" placeholder="I am driving to ..." id="address" name="location" value="@Model.SearchTerm">
                <button type="submit" class="btn-lg">Search</button>
                if(Model.IsDefault)
                { 
                    <button type="submit" class="btn-lg">Map view</button>
                }
            }
            
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
@if(Model.IsDefault)
{ 
<div class="container">
    <div class="row-fluid">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 search-resutls">
            <ul>
                @foreach(ParkingSearchItem item in Model.Parkings)
                { 
                <li>
                    <h2>@item.Name</h2>
                    <span class="distance">@item.distance</span>
                    <span class="category">@item.Parking.Category</span>
                    <span class="restrictions">@item.Parking.Restrictions</span>
                    <span class="operationalday">@item.Parking.OperationalDay</span>
                    <span class="operationaltime">@item.Parking.OperationsTime</span>
                    <span class="fare">@item.Parking.RateWeekDay/hours <span>Free Now</span></span>
                    <span class="vehiclebays">@item.Parking.VehicleBay</span>
                    <hr />
                </li>
                }
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
}

